* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.aval,
.box1 {
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box1 p {
    margin: 0px 10px;
}

.box1 button {
    padding: 7px 20px;

}

.ha2 {
    font-size: 50px;
    margin: 20px 0px;
    text-align: center;
}

.pa2 {
    text-align: center;
}

.form {
    margin: 20px 0px;
    border: 1px solid black;
    width: 335px;
    margin-left: 470px;
}

.form input,
.form button {
    padding: 7px 20px;
    border: none;

}

.form input {
    outline: none;
}

.form button {
    background-color: rgb(161, 12, 210);
    color: white;
    padding-right: 28px;
}

.surati2 {
    width: 80%;
    height: 500px;
    margin-left: 100px;
    margin-top: -50px;

}

.ce {
    display: flex;

}

.chapce {
    margin: 20px 100px;
}

.rostce {

    margin: 20px 0px;
    margin-top: 80px;
    text-align: center;
}

.rostce p {
    margin: 10px 0px;
}

.ce2 {
    justify-content: center;
}

.rostce3 {
    margin-top: 150px;
}

.rostce h3 {
    color: blueviolet;

}

.chor4 {
    padding: 70px;
    margin-top: 130px;
}

.chor4s {
    display: flex;
    margin: 10px;
    align-items: center;
}

.chor4s img {
    margin-right: 10px;
}

.s21 {
    width: 80%;
    position: absolute;
    top: 270%;
    left: 10%;

}

.panj5 h1 {
    text-align: center;
    position: absolute;
    top: 400%;
    left: 33%;

}

.panj5 {
    margin-top: 500px;
    margin-left: 350px;
}

.panj5 img {
    margin-left: 40px;
    margin-bottom: 20px;
}

.tr {
    border: 1px solid black;
    margin: 20px 0px;
}

.td {
    margin: 20px 0px;
}

.td1 {
    text-align: center;
}

table {
    padding: 10px 90px;
}
.tel{
    display: none;
   }

@media(max-width: 500px) {

    .aval,
    .box1 {
        gap: 10px;
        margin: 0px 10px;
        padding: 10px 0;
        /* flex-direction: column; */
    }

    .box2 {
        display: none;
    }

    .form {
        width: 100%;
        margin-left: 0px;
    }

    .form {
        width: 339px;
        margin-left: 30px;
    }

    .surati2 {
        width: 100%;
        margin-left: 10px;
        margin-top: -20px;

    }

    .ce {
        display: block;

    }

    .chapce {
        margin: 0px;


    }

    .s1 {
        width: 80%;
        position: absolute;
        top: 140%;
        left: 10%
    }

    .ce2 {
        position: relative;
        top: 250px;

    }

    .s2 {
        margin-bottom: 150px;
    }

    .chor4 {
        padding: 50px 10px;
        margin-top: 100px;
    }

    .s21 {
        width: 100%;
        position: relative;
        top: 290%;
        left: 0%;

    }

    .panj5 {
        margin-top: 00px;
        margin-left: 0px;
    }

    .panj5 {
        display: none;
    }

    table {
        display: none;
    }
   .tel{
    display: block;
    text-align: center;
   }
   .tel img{
    width: 98%;
   }

}